# Generated asn1c output.
asn1/
# Debian packaging output.
debian/lightldapd.debhelper.log
debian/lightldapd.substvars
debian/lightldapd/
debian/files
# The binary output.
lightldapd
# Editor backup files.
*~
